<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="resepnusantara"
        android:theme="@android:style/Theme.NoTitleBar"
        android:exported="true"
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ✅ Widget Provider -->
        <receiver
            android:name=".widget.WidgetResep"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_resep_info" />
        </receiver>

    </application>
</manifest>
